body {
  background-color: rgb(26, 27, 37);
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.letter-space {
  line-height: 46px;
  letter-spacing: 0.14px;
  margin-bottom: 16px;
}

.font-m {
  font-family: 'Montserrat', sans-serif;
}
